<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adam.baking_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />




<application
android:name=".GlobalApplication"
android:allowBackup="true"
android:icon="@mipmap/ic_launcher"
android:label="@string/app_name"
android:supportsRtl="true"
android:theme="@style/AppTheme">
<activity android:name=".ui.MainActivity"  android:theme="@style/Base.Theme.AppCompat.Light">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
<activity
    android:name=".ui.RecipeInfoActivity"
    android:theme="@style/AppTheme.NoActionBar" />
<activity
    android:name=".ui.RecipeStepDetailActivity"
    android:label="@string/title_recipe_step_detail"
    android:parentActivityName=".ui.RecipeInfoActivity"
    android:theme="@style/AppTheme.NoActionBar">
    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.RecipeInfoActivity" />
</activity>

<receiver android:name=".widgets.AppWidget">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>

    <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/baking_recipes_app_widget_info" />
</receiver>

<service
    android:name=".widgets.AppWidgetService"
    android:permission="android.permission.BIND_REMOTEVIEWS" />
</application>

    </manifest>